<!DOCTYPE html>
<html dir="ltr" lang="es" xml:lang="es">

<head>
    <title>Aula Virtual - EPN: Log in to the site</title>
    <link rel="icon"
        href="https://aulasvirtuales.epn.edu.ec/pluginfile.php/1/theme_adaptable/favicon/1713968435/icono-epn.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="moodle, Aula Virtual - EPN: Log in to the site" />
    <link rel="stylesheet" type="text/css"
        href="https://aulasvirtuales.epn.edu.ec/theme/styles.php/adaptable/1713968435_1/all" />
    <!-- Google tag (gtag.js) -->
    <meta name="robots" content="noindex" /> 
    <!-- CSS print media -->
    <link rel="stylesheet" type="text/css" href="https://aulasvirtuales.epn.edu.ec/theme/adaptable/style/print.css"
        media="print">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,400i' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i' rel='stylesheet' type='text/css'>
</head>
<body id="page-login-index"
    class="format-site  path-login chrome dir-ltr lang-es yui-skin-sam yui3-skin-sam aulasvirtuales-epn-edu-ec pagelayout-login course-1 context-1 notloggedin two-column  header-style1 has-page-header has-header-bg nomobilenavigation">
    <div id="page" class="container-fluid fullin showblockicons standard">
        <div class="container outercont">
            <div id="page-content" class="row">
                <section id="region-main" class="col-12">
                    <div role="main"><span id="maincontent"></span>
                        <div class="row justify-content-end">
                            <div class="col-xl-4 col-sm-8 ">
                                <div class="card">
                                    <div class="card-block">
                                        <h2 class="card-header text-center">Aula Virtual - EPN</h2>
                                        <center> <img src="https://aulasvirtuales.epn.edu.ec/LOGO_EPN1.svg" id="logo"
                                                style="max-width: 160px;"></center>
                                        <div class="card-body">
                                            <div class="row justify-content-md-center">
                                                <div class="col-md-8">
                                                    <form id="login-form" action="/login" method="post">
                                                        <input id="anchor" type="hidden" name="anchor" value="">
                                                        <input type="hidden" name="logintoken"
                                                            value="jUld0veTzrX9O2085Ah1bwg72M4LeyMh">
                                                        <div class="form-group">
                                                            <label for="username" class="sr-only">
                                                                Username
                                                            </label>
                                                            <!-- Username -->
                                                            <input type="text" name="username" id="username"
                                                                class="form-control" placeholder="Username" autocomplete="username">
                                                        </div>
                                                        <div class="form-group">
                                                            <!-- Username -->
                                                            <label for="password" class="sr-only">Password</label>
                                                            <input type="password" name="password" id="password"
                                                                value="" class="form-control" placeholder="Password"
                                                                autocomplete="current-password">
                                                        </div>
                                                        <div class="rememberpass mt-3">
                                                            <input type="checkbox" name="rememberusername"
                                                                id="rememberusername" value="1" />
                                                            <label for="rememberusername">Remember username</label>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-block mt-3"
                                                            id="loginbtn">Log in</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <footer id="page-footer" class="">
            <div id="course-footer"></div>
            <div class="container blockplace1">
                <div class="row">
                    <div class="left-col col-md-4 my-1">

                        <div class="footnote" style="font-size:small;">
                            asistencia.tecnica@epn.edu.ec</div>
                    </div>
                    <div class="left-col col-md-4 my-1">
                        <div class="footnote" style="font-size:small;">
                            (+593) 2 2976 300 ext 1402 / 1404</div>
                    </div>
                    <div class="left-col col-md-4 my-1">
                        <div class="footnote" style="font-size:small;">
                            Escuela Politécnica Nacional © Todos los Derechos Reservados.2024</div>
                    </div>
                </div>
            </div>
            <div class="info container2 clearfix" style="display:none !important;">
                <div class="container" text-align:center;>
                    <div class="row">
                        <div class="col-md-8 my-md-0 my-2">
                            <div class="tool_usertours-resettourcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

</body>

</html>